@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191a1f;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #191a1f;
  border-radius: 25px;
  padding: 30px 0;
  max-width: 400px;
  box-shadow:
    3px 3px 5px 2px black,  /* Right and Bottom */
    -1px -1px 10px 0.5px grey; /* Left and Top */
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  flex-wrap: nowrap;
  row-gap: 20px;
  background-color: #191a1f;
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-right: 20px;
  box-shadow:
    2px 2px 3px 2px black inset, /* Left and Top */
    -1px -1px 3px 0.5px darkgrey inset; /* Right and Bottom */
  margin-bottom: 30px;
  width: 350px;
}

.screen > div {
  width: 100%;
  overflow-x: scroll;
}

.screen h2 {
  color: #b3bcc5;
  font-size: 45px;
  font-weight: 400;
  flex-shrink: 0;
  width: 100%;
  text-align: end;
}

.screen p {
  color: #47484d;
  font-size: 25px;
  flex-shrink: 0;
  width: 100%;
  text-align: end;
}

.keypads {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  width: 350px;
}

.keypad {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #191a1f;
  color: #595a5f;
  box-shadow:
    2px 2px 3px 2px black,
    -1px -1px 4px 0.5px darkgrey;
  justify-self: center;
  align-self: center;
  font-size: 30px;
  padding: auto auto;
  height: 60px;
  width: 60px;
}

.keypad.add{
    height: 100%;
    grid-row: 3 / span 2;
    grid-column: 4 / span 1;
}

.keypad > i {
    font-size: 20px;
}

::-webkit-scrollbar {
  display: none
}
